@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

[data-theme="light"] {
  --p: #0EA5E9;
  --pf: #0284C7;
}


* {
  transition-property: all;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
  transition-duration: var(--tw-duration, var(--default-transition-duration));
  --tw-duration: 200ms;
  transition-duration: 200ms;
}

@theme {
  --breakpoint-xxs: 21.25rem;
  --breakpoint-xs: 23.125rem;
  --breakpoint-xxl: 82.5rem;
 --color-primary: #0EA5E9;
--color-primary-dark: #0284C7;
--color-picto-primary: #0EA5E9;
--color-picto-primary-dark: #0284C7;
  --color-soft-white: #f0f1f3;
  --color-soft-dark: #87909d;
}

.btn-primary {
  @apply bg-picto-primary border-0 text-white hover:scale-[102%] hover:bg-picto-primary-dark transition-all duration-500;
}

body {
  font-family: "Work Sans", sans-serif;
}

.content {
  @apply max-xxl:w-full xxl:max-w-[1320px] xxl:mx-auto;
}

.section-title {
  @apply md:font-semibold text-3xl sm:text-4xl md:text-5xl font-medium;
}

.center {
  @apply flex justify-center items-center;
}

.introduction-profile-background {
  background: radial-gradient(circle at 12% 100%, #ffe2b0f5 1% 5px, transparent 15%),
    radial-gradient(circle at 95% -15%, #0ea5e966, transparent 30%),
    radial-gradient(circle at center right, #c4f5e9b2 2%, transparent 35%);
}
.blog-background {
  background: radial-gradient(circle at -10% 0%, #0ea5e966 1%, transparent 25%),
    radial-gradient(circle at 110% 30%, #c4f5e9b2 5%, transparent 25%);
}